{
    "plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": false,
    "printWidth": 80,
    "singleQuote": true,
    "overrides": [
        {
            "files": ".prettierrc",
            "options": { "parser": "json" }
        },
        {
            "files": "*.json",
            "options": { "parser": "json" }
        },
        {
            "files": "astro.config.mjs",
            "options": { "parser": "flow" }
        },
        {
            "files": "*.astro",
            "options": { "parser": "astro" }
        }
    ]
}
