.img-header {
    height: 2.5em;
}

@include media-breakpoint-up(sm) {
    .img-header {
        height: 2em;
    }
}

@include media-breakpoint-up(md) {
    .img-header {
        height: 1.5em;
    }
}

.img-baner {
    height: 33vh;
}

@include media-breakpoint-up(sm) {
    .img-scaling {
        height: 40vw;
    }
}

@include media-breakpoint-up(md) {
    .img-scaling {
        height: 30vw;
    }
}

@media (min-aspect-ratio: 16/9) {
    .max-vh-panoramic-33 {
        max-height: 33vh;
    }
}

@media (min-aspect-ratio: 16/9) {
    .max-vh-panoramic-50 {
        max-height: 50vh;
    }
}
