@import 'tailwindcss';

@theme {
    --font-sans:
        'Jockey One', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --color-*: initial;
    --color-white: oklch(1 0 0);
    --color-black: oklch(0 0 0);
    --color-gray-dark: oklch(0.2134 0 0);
    --color-gray-light: oklch(0.3829 0 0);
    --color-red: oklch(0.6223 0.2162 26.67);
    --color-pixel-heaven: oklch(0.4541 0.1131 350.15);

    --breakpoint-3xl: 120rem;
}

:root {
    color-scheme: dark;
}
