---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'

interface Props {
    align?: string
    imageUrl: string | ImageMetadata
}

const { align = 'justify-start', imageUrl } = Astro.props
---

<div class="relative">
    <div class:list={['flex', 'h-full', 'w-full', align]}>
        <div class="bg-gray-dark/85 relative z-10 h-full w-full md:w-1/2">
            <div
                class="z-20 flex flex-col items-center justify-center gap-6 py-24 text-center"
            >
                <slot />
            </div>
        </div>
    </div>
    <div class="absolute inset-0">
        <Image src={imageUrl} alt="" class="h-full w-full object-cover" />
    </div>
</div>
