<footer class="w-full">
    <div class="container mx-auto py-14 text-center">
        <div class="grid grid-cols-1 gap-x-4 gap-y-8 text-xl md:grid-cols-2">
            <div class="py-3">Więcej zdjęć na naszym instagramie!</div>

            <div class="flex items-center justify-center">
                <a
                    href="https://www.instagram.com/jak_bedzie_w_klawiaturach/"
                    target="_blank"
                    class="flex items-center py-3"
                >
                    <i class="fa-brands fa-instagram me-3 text-4xl"></i>
                    <span class="underline">@jak_bedzie_w_klawiaturkach</span>
                </a>
            </div>

            <div class="py-3">
                Informacje odnośnie meetów znajdziesz na naszym discordzie!
            </div>
            <div class="flex items-center justify-center">
                <a
                    href="https://discord.com/invite/D5MyzMXqAG"
                    target="_blank"
                    class="flex items-center py-3"
                >
                    <i class="fa-brands fa-discord me-3 text-3xl"></i>
                    <span class="underline">Jak będzie w klawiaturkach?</span>
                </a>
            </div>

            <div class="col-md py-3">
                Chcesz nawiązać współpracę? Napisz do nas na maila.
            </div>
            <div class="flex items-center justify-center">
                <a
                    href="mailto:wspolpraca@jbwk.pl"
                    target="_blank"
                    class="flex items-center py-3"
                >
                    <i class="fa-regular fa-envelope me-3 text-4xl"></i>
                    <span class="underline">wspolpraca@jbwk.pl</span>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-red px-10 py-5 text-center text-base">
        Copyright (©) 2025 JBWK Meet
    </div>
</footer>
