---
import Head from '@components/Head.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
---

<html lang="pl-PL">
    <Head />
    <body class="bg-gray-dark text-xl/9 font-sans">
        <Header />
        <slot />
        <Footer />
    </body>
</html>
