---
import Head from '@components/Head.astro'
import Footer from '@components/Footer.astro'
---

<html lang="pl-PL">
    <Head>
        <slot name="head" />
    </Head>
    <body
        class="bg-gray-dark flex flex-col justify-between font-sans text-xl/9"
    >
        <slot />
        <Footer />
    </body>
</html>
